@import '@/styles/variables';

.root {
  margin: 0;
  padding: 0;
  list-style: none;
}

.item {
  padding: 20px 0;

  &:not(:last-child) {
    border-bottom: 2px solid $color-filled-secondary;
  }

  @media (min-width: $width-tablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.texts {
  @media (max-width: $width-mobile-only) {
    margin-bottom: 20px;
  }
}

.task {
  margin-top: 0;
}

.date {
  margin: 0;

  font-size: 10px;
}

.buttons {
  min-width: 210px;
}
