$width-mobile: 320px;
$width-mobile-only: 767px;
$width-tablet: 768px;
$width-desktop: 1400px;

$color-text-light: #ffffff;
$color-text-primary: #121212;
$color-text-secondary: #d6073d;

$color-filled-light: #ffffff;
$color-filled-dark: #121212;
$color-filled-primary: #d6073d;
$color-filled-secondary: #eff1f9;
