@import '@/styles/variables';

.root {
  & :global {
    & label {
      font-family: inherit;
      color: $color-text-primary;
    }

    & .MuiInputBase-root {
      font-family: inherit;

      border-radius: 10px;
    }

    & .MuiOutlinedInput-notchedOutline {
      border-color: #cbcbcb;
    }
  }
}
